@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import "tailwindcss";

@theme {
    --font-slabo: "Slabo 13px", sans-serif;
    --color-gold: #cb9e03;

    --background-image-logo: url('/images/logo.png');
}

/* gold color: #cb9e03 */