@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import "tailwindcss";


/* gold color: #cb9e03 */

@theme {
    --font-slabo: "Slabo 13px", sans-serif;
    --color-gold: #cb9e03;

    --background-image-logo: url('/images/logo.png');
}

body,html {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}

